{{!-- Hero start --}}
                <div class="container hero">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                            <h1>The Cut</h1>
                            <p>Movie fanatics, enthusiasts and all the above, <em>The Cut</em> is the answer you have all been waiting for.
                            <br><br>Save, rate and debate your most recently watched and all time favourite movies with other movie fans on your very own watched movie database.</p><a class="btn btn-light btn-lg action-button" role="button" href="/sign-up">Sign Up Today</a></div>
                        <div
                            class="col-md-4 col-lg-4 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                            <div class="laptop-mockup"><img src="assets/css/mockup_final.png" class="device">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
{{!-- Hero end --}}
        