<!-- Navbar start -->
        <div>
            <div class="header-black">
                <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                    <div class="container"><a class="navbar-brand" href="#">
                        <img src="assets/css/3.png" alt="" width="100" height="50">
                      </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse"
                            id="navcol-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Menu</a>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/">Home</a><a class="dropdown-item" role="presentation" href="/">Watched List</a><a class="dropdown-item" role="presentation" href="/">Profile</a></div>
                                </li>
                            </ul>

                            <form class="form-inline mr-auto" action="/api/keyword" method="POST">
                                <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control searchField" type="search" name="searchField" id="search-field"></div>
                            </form><span class="navbar-text"> <a href="/login" class="login">Log In</a></span><a class="btn btn-light action-button" role="button" href="/sign-up">Sign Up</a></div>
                    </div>
                </nav>
            <!-- Nav end -->

            <!-- Hero start -->
                <div class="container hero">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                            <h1>The Cut</h1>
                            <p>Movie fanatics, enthusiasts and all the above, <em>The Cut</em> is the answer you have all been waiting for.
                            <br><br>Save, rate and debate your most recently watched and all time favourite movies with other movie fans on your very own watched movie database.</p><a class="btn btn-light btn-lg action-button" role="button" href="/sign-up">Sign Up Today</a></div>
        
                        <div
                            class="col-md-4 col-lg-4 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                            <div class="laptop-mockup"><img src="assets/css/hero_image2.png" class="device">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>



<div class="middle">
<a href="#" class="scroll-down" address="true"></a>
</div>
 
 <div class="titleDisplay">
            {{#each movieTitles}}
            <ul>       
            <h3>{{this.movieTitle}}</h3>            
            </ul>
            {{/each}}
        </div>

<div class="middle"></div>

            <div class="jumbotron">
                <div class="container">
                    <h1><center>Log-In to Access</center></h1>
                </div>
            </div>
        