


body {
    background: rgb(17, 17, 17);
    padding-bottom:80px;
    color: #ebeff1;
    font-family: CircularStd;
  }

  @font-face {
    font-family: CircularStd;
    src: url(/assets/fonts/CircularStd-Book.otf);
}
  
  @media (min-width:768px) {
    .header-black {
      padding-bottom:120px;
    }
  }
  

  /* Nav styling start */
  
  .header-black .navbar {
    background:transparent;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#FAA500;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-black .navbar {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  
  .header-black .navbar .navbar-brand:hover {
    color:#D73739;
  }
  
  .header-black .navbar .navbar-collapse {
    border-top:1px solid #D73739;
    margin-top:.5rem;
  }
  
  @media (min-width:768px) {
    .header-black .navbar .navbar-collapse {
      border-color:transparent;
      margin:0;
    }
  }
  
  .header-black .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-black .navbar .navbar-collapse span .login:hover {
    color:#D73739;
  }
  
  .header-black .navbar .navbar-toggler {
    border-color: #D73739;
  }
  
  .header-black .navbar .navbar-toggler:hover, .header-black .navbar-toggler:focus {
    background:none;
  }
  
  .header-black .navbar .navbar-nav a.active, .header-black .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
  }
  
  @media (min-width: 768px) {
    .header-black .navbar-nav .nav-link {
      padding-left:.7rem;
      padding-right:.7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-black .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-black .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    /* background:linear-gradient(135deg, #222121, #4e4b4b); */
    background-color: white;
    border-radius: 7px;
  }
  
  .header-black .navbar .dropdown-menu .dropdown-item:focus, .header-black .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#FAA500;
  }
  
  .header-black .navbar .dropdown-menu .dropdown-item:focus, .header-black .navbar .dropdown-menu .dropdown-item:hover {
    background: #D73739;
    color: white;
    
  }
  
  .header-black .action-button, .header-black .action-button:not(.disabled):active {
    border:1px solid #FAA500;
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
  }
  
  .header-black .action-button:hover {
    color: #D73739;
  }
  
  .header-black .navbar .form-inline label {
    color:#FAA500;
  }
  
  .header-black .navbar .form-inline .searchField {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header-black .navbar .form-inline .searchField:focus {
    border-bottom:1px solid #FAA500;
  }

  /* Search button */

  .search-movie-box {
    margin-top: 1rem;
    border: none;
  }

  .search-movie-button {
    margin-top: 1rem;
  }
  
  .search-icon {
    filter: invert(1);
  }


  
  /* Nav styling end */

  /* Hero styling start */
  .header-black .hero {
    margin-top:20px;
    text-align:center;
  }
  
  @media (min-width:768px) {
    .header-black .hero {
      margin-top:60px;
      text-align:left;
    }
  }
  
  .header-black .hero h1 {
    color:#fff;
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
    font-weight:700;
    line-height:1.4;
  }
  
  @media (min-width:992px) {
    .header-black .hero h1 {
      margin-top:100px;
      margin-bottom:24px;
      line-height:1.2;
    }
  }
  
  .header-black .hero p {
    color:rgba(255,255,255,0.8);
    font-size:20px;
    margin-bottom:30px;
    font-weight:300;
  }
  
  .header-black .phone-holder {
    text-align:right;
  }
  
  .header-black div.laptop-mockup {
    position:relative;
    max-width:800px;
    margin:15px;
    padding-top: 5%;
    display:inline-block;
  }
  
  .header-black .laptop-mockup img.device {
    width:180%;
    height:auto;
  }
  

  /* login start */

  .user_card {
    height: 400px;
    width: 350px;
    margin-top: 100px;
    margin-bottom: auto;
    background: #272424;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: #d9d9d9;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #FAA500;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #D73739 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #D73739 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #FAA500 !important;
}
  
a {
  color: #FAA500;
}

.btn-custom {
  background-color: #D73739;
  color: #ebeff1;
}

/* login end */
  
/* watchlist styling */

.watchlist-title h1 {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #FAA500;
  font-weight: 600;
  font-size: 2.25rem;
}

.searchtext h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

/* movie card */


.card-container {
  width: 24%;
  display: inline-block;
  margin: auto;
  
}

.movie-card-container {
  width: 70%;
  margin: auto;
}
  

.card {
  margin: 25px auto 0;
  width: 275px;
  height: 400px;
  transition: all 0.75s linear;
  transform-style: preserve-3d;
  background-color: transparent;
  border-radius: 8px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 8px;
}


.card__face--front img {
  min-height: 400px;
  min-width: 275px;
}

.card__face--front {
  background-color: transparent;
  z-index: 2;
  backface-visibility: hidden;
}

.card__face--back {
  background-color: #FAA500;
  transform: rotateY(180deg);
  z-index: 1;
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header h4{
  text-align: center;
  margin-top: 0.5rem;
  font-size: 20px;
  color: black;

}

.card:hover {
  transform: rotateY(180deg);
}

.card__body {
  color: #222121;
}

.container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card__body h5 {
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.card__body h6 {
  text-align: justify;
  width: 85%;
  margin: auto;
  color: black;
  font-size: 14px;
  margin-top: 1rem;
}

.card__body button {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1rem;
}

/* signup styling */

.signup-card {
  height: 425px;
  width: 350px;
  margin-top: 100px;
  margin-bottom: auto;
  background: #272424;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #d9d9d9;
}

.user-login {
  margin-top: -1rem;
}

/* popular handlebars */

.searchtext {
  text-align: center;
}

.watch-later-btn {
  color: #222121;
  border: none;
  background-color: #D73739;
  color: white;
}

